body {
  background-color: #ffffeb;
  color: #0A0500;
  font-family: 'Crimson Text', 'Times New Roman', serif;
}
.block {
  padding-top: 20px;
}
.footer {
  padding-bottom: 60px;
}
.offset-bottom {
  padding-bottom: 20px;
}
.offset-top {
  padding-top: 20px;
}