/**
 * Angular Sparklines styles
 */

.sparkline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
span.sparkline {
  display: inline-block;
  width: 5em;
  height: 15px;
  margin: 0 .2em;
  vertical-align: baseline;
}
