/**
 * Angular Sparklines styles
 */
$fill-positive: #333;
$fill-positive-light: #666;
$fill-negative: #FF3333;

$binary-positive: $fill-positive;
$binary-negative: $fill-negative;

$dot-first-value-fill: #FF3333;
$dot-max-value-fill: #33CCFF;
$dot-min-value-fill: #33CCFF;
$dot-last-value-fill: #FF3333;

span.sparkline {
  display: inline-block;
  width: 5em;
  height: 15px;
  margin: 0 .2em;
  vertical-align: baseline;
}
sparkline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
sparkline path {
  stroke: #999999;
  stroke-width: 1;
  fill: none;
}
sparkline path.area {
  stroke: none;
  fill: $fill-positive-light;
}
sparkline rect.bar {
  stroke: none;
  fill: $fill-positive;
}
sparkline rect.binary {
  fill: $binary-positive;
}
sparkline rect.dot {
}
sparkline rect.first {
  fill: $dot-first-value-fill;
}
sparkline rect.last {
  fill: $dot-last-value-fill;
}
sparkline rect.max {
  fill: $dot-max-value-fill;
}
sparkline rect.min {
  fill: $dot-min-value-fill;
}
sparkline rect.negative {
  fill: $binary-negative;
}
sparkline .hidden {
  display: none;
}
