/**
 * Angular Sparklines styles
 */
/* line 11, ../sass/sparklines.scss */
span.sparkline {
  display: inline-block;
  width: 5em;
  height: 15px;
  margin: 0 .2em;
  vertical-align: baseline;
}

/* line 18, ../sass/sparklines.scss */
sparkline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/sparklines.scss */
sparkline path {
  stroke: #999999;
  stroke-width: 1;
  fill: none;
}

/* line 28, ../sass/sparklines.scss */
sparkline path.area {
  stroke: none;
  fill: #666666;
}

/* line 32, ../sass/sparklines.scss */
sparkline rect.bar {
  stroke: none;
  fill: #333333;
}

/* line 36, ../sass/sparklines.scss */
sparkline rect.binary {
  fill: #333333;
}

/* line 39, ../sass/sparklines.scss */
sparkline rect.negative {
  fill: #333333;
}
