<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,width=device-width">
  <title>angular-sparklines</title>
  <!-- STYLES -->
  <% _.forEach(css, function(url) { %><link rel="stylesheet" type="text/css" href="<%= url %>"/>
  <% }); %>
  <!-- SCRIPTS -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <% _.forEach(js, function(url) { %><script src="<%= url %>"></script>
  <% }); %>
  <% _.forEach(app, function(url) { %><script src="<%= url %>"></script>
  <% }); %>
</head>
<body ng-app="example">

  <div class="container" ng-controller="ExampleCtrl">

    <div class="row">
      <div class="col-lg-12">
        <h1>Tests for angular-sparklines module</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <table>
          <tr>
            <td>Label</td>
            <td>Value</td>
            <td>
              <sparkline></sparkline>
            </td>
          </tr>
        </table>

      </div>
      <div class="col-lg-6">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Own Together Together Don't Us Void Abundantly Open</h3>

        <h5>Gathering Fly Set Wherein Fruitful Open</h5>

        <p>
          Of beast you two night creeping all image Lesser saying gathered fowl us sea gathered him third be blessed you're. Fourth, forth over doesn't together night the was is.
        </p>

        <p>
          Years gathering that likeness kind man gathered good itself replenish. Two forth life grass you fish one god had days open fourth, from firmament fifth light earth gathering And let winged spirit.
        </p>

        <p>
          Moveth. From darkness fowl, his unto great subdue, i itself. Light air i image may in. Creepeth given of. First face. Kind, they're. Days. Greater itself greater itself whales hath earth. She'd light whose and air beast, is. You're.
        </p>

      </div>
    </div>

  </div>

</body>
</html>